.home-page {
  margin-left: 10px;
  width: 80%;
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;

    img {
      margin-right: -20px;
      opacity: 0;
      width: 100px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  h2 {
    color: aliceblue;
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    margin-top: 410px;
    margin-left: 125px;
  }
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
}
.second {
  margin-left: 650px;
  width: 40%;
  height: 50%;
  margin-bottom: 400px;
}
.canvas {
  margin-top: 300px;
  margin-left: 400px;
  width: 39%;
}
